<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Dojo Survey</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
</head>

<body>
    <div id="container">
        <form action="/result" method="POST">

            {% csrf_token %}
            <p>Your Name: <input name="name" type="text"></p>
            <p>
                Dojo Location:
                <select name="location" id="location">
                    <option value="Los Angeles">Los Angeles</option>
                    <option value="New York City">New York City</option>
                    <option value="Washington">Washington</option>
                    <option value="Orange County">Orange County</option>
                </select>
            </p>
            <p>
                Favorite Language:
                <select name="language" id="lang">
                    <option value="Python">Python</option>
                    <option value="Java">Java</option>
                    <option value="JavaScript">JavaScript</option>
                    <option value="SQL">SQL</option>
                </select>
            </p>
            <p>Comment (optional):<input name="comment" type="text"> </p>

            <input type="submit" value="Submit">
        </form>

    </div>

</body>

</html>