<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title> User Template </title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
</head>
<body>
    <div id="container">
        <div id="top-half">
            <h1> All the Users </h1>
            <table id="database-table">
                <tr>
                    <th> ID </th>
                    <th> Name </th>
                    <th> Email </th>
                    <th> Age </th>
                </tr>
                <!-- For loop here -->
                {% for user in all_users %}
                <tr>
                    <td> {{ user.id }} </td>
                    <td> {{ user.first_name }} {{ user.last_name }} </td>
                    <td> {{ user.email_address }} </td>
                    <td> {{ user.age }}</td>
                </tr>
                {% endfor %}
            </table>
        </div>

        <div id="lower-half">
            <h1> Add a User </h1>
            <form action="/store" method="POST">
                {% csrf_token %}
                <table id="user-input">
                    <tr>
                        <td>First name: </td>
                        <td><input type="text" id="fname" name="fname"></td>
                        <td>Last name: </td>
                        <td><input type="text" id="lname" name="lname"></td>
                    </tr>
                    <tr>
                        <td>Email: </td>
                        <td><input type="text" id="email" name="email"></td>
                        <td>Age: </td>
                        <td><input type="text" id="age" name="age"></td>
                    </tr>

                </table>
                <button> Add </button>
            </form> 
        </div>
    </div>
</body>
</html>