* {
    margin: 0px;
    padding: 0px;
}

#container{
    margin: 50px 500px;
    width: 300px;
    background-color: aliceblue;
    text-align: center;
    border: solid 5px green;
}
h1{
    width: 250px;
    margin:25px;
    border: solid 2px blue;
}
p{
    font-size: 20px;
    margin-bottom: 10px;
}