<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Counter</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/style.css' %}"> 
</head>
<body>
    <div id="container">
        <h1>Counter</h1>
        <h2>Counter: {{ request.session.count }}</h2>
        <h3>Actual times revisited: {{ request.session.revisit }}</h3>

        <form action='/destroy_session' method="POST">
            {% csrf_token %}
            <button> Reset </button>
        </form>

        <form action='/add_another' method="POST">
            {% csrf_token %}
            <button> +2 </button>
        </form>

        <form action='/add_more' method="POST">
            {% csrf_token %}
            <input name="num" type="text">
            <button> Increments by amount in textbox! </button>
        </form>
    </div>
    
</body>
</html>