<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Add a student to all bootcamp courses</title>
</head>
<body>
    <div id="container">
        <h1>Are you sure you want to delete the following course?</h1>
        <table>
            <tr>
                <td>Name:</td>
                <td>{{ course.name }}</td>
            </tr>
            <tr>
                <td>Description:</td>
                <td>{{ course.description }}</td>
            </tr>
        </table>

        <div id="buttons">
            <form action="/courses">
                {% csrf_token %}
                <button>No</button>
            </form>
            <form action="/courses/delete/{{ course.id }}">
                {% csrf_token %}
                <button>Yes! I want to delete this</button>
            </form>
        </div>
    </div>
</body>
</html>