<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Favorite Books</title>
</head>
<body>
    <div id="container">
        <div id="header">
            <h1>Welcome, {Frodo}!</h1>
            <a href=''>Log Out</a>
        </div>

        <div id="main-content">
            <div id="add-book">
                <h2>Add a Favorite Book</h2>
                <form>
                    <label for="title">Title</label>
                    <input type="text" name="title" id="title">
                    <label for="desc">Description</label>
                    <input type="text" name="title" id="title">
                    <button>Add</button>
                </form>
            </div>


            <div id="all-books">
                <h2>All Books</h2>
                <a href="">Book Title</a>
                <p>Added by someone</p>
                <p>This is one of your favorites or</p>
                <a href="">Favorite it</a>
            </div>
        </div>
    </div>
</body>
</html>