<!DOCTYPE html>
<html>
	<head>
		<title>Sports Leagues</title>
	</head>
	<body>
		<h1>Leagues</h1>
		<ol>
			{% for league in leagues %}
				<li>{{league.name}}</li>
			{% empty %}
				<p>No leagues found.  Try <code>python manage.py loaddata data.json</code>, or, if that doesn't work, going <a href="{% url 'make_data' %}">here</a> (but be prepared to wait).</p>
			{% endfor %}
		</ol>
		<h1>Teams</h1>
		<ol>
			{% for team in teams %}
				<li>{{team.location}} {{team.team_name}}</li>
			{% empty %}
				<p>No teams found.  Try <code>python manage.py loaddata data.json</code>, or, if that doesn't work, going <a href="{% url 'make_data' %}">here</a> (but be prepared to wait).</p>
			{% endfor %}
		</ol>
		<h1>Players</h1>
		<ol>
			{% for player in players %}
				<li>{{player.first_name}} {{player.last_name}}</li>
			{% empty %}
				<p>No teams found.  Try <code>python manage.py loaddata data.json</code>, or, if that doesn't work, going <a href="{% url 'make_data' %}">here</a> (but be prepared to wait).</p>
			{% endfor %}
		</ol>

		<h1> This is beginning of Sports ORM 1 assignment </h1>
		<p>...all baseball leagues</p>
		<ul>
			{% for baseball_league in baseball_leagues %}
			<li>{{ baseball_league.name }}</li>
			{% endfor %}
		</ul>
		<br>
		<p>...all womens' leagues</p>
		<ul>
			{% for womens_league in womens_leagues %}
			<li>{{ womens_league.name }}</li>
			{% endfor %}
		</ul>
		<br>
		<p>...all leagues where sport is any type of hockey</p>
		<ul>
			{% for hockey_league in hockey_leagues %}
			<li>{{ hockey_league.name }}</li>
			{% endfor %}
		</ul>
		<br>
		<p>...all leagues where sport is something OTHER THAN football</p>
		<ul>
			{% for not_football_league in not_football_leagues %}
			<li>{{ not_football_league.name }}</li>
			{% endfor %}
		</ul>
		<br>
		<p>...all leagues that call themselves "conferences"</p>
		<ul>
			{% for conference_league in conference_leagues %}
			<li>{{ conference_league.name }}</li>
			{% endfor %}
		</ul>
		<br>
		<p>...all leagues in the Atlantic region</p>
		<ul>
			{% for atlantic_league in atlantic_leagues %}
			<li>{{ atlantic_league.name }}</li>
			{% endfor %}
		</ul>
		<br>
		<p>...all teams based in Dallas</p>
		<ul>
			{% for dallas_team in dallas_teams %}
			<li>{{ dallas_team.location }} {{ dallas_team.team_name }}</li>
			{% endfor %}
		</ul>
		<br>
		<p>...all teams named the Raptors</p>
		<ul>
			{% for raptors_team in raptors_teams %}
			<li>{{ raptors_team.location }} {{ raptors_team.team_name }}</li>
			{% endfor %}
		</ul>
		<br>
		<p>...all teams whose location includes "City"</p>
		<ul>
			{% for city_team in city_teams %}
			<li>{{ city_team.location }} {{ city_team.team_name }}</li>
			{% endfor %}
		</ul>
		<br>
		<p>...all teams whose names begin with "T"</p>
		<ul>
			{% for t_team in t_teams %}
			<li>{{ t_team.location }} {{ t_team.team_name }}</li>
			{% endfor %}
		</ul>
		<br>
		<p>...all teams, ordered alphabetically by location</p>
		<ul>
			{% for alphabet_team in alphabet_teams %}
			<li>{{ alphabet_team.location }} {{ alphabet_team.team_name }}</li>
			{% endfor %}
		</ul>
		<br>
		<p>...all teams, ordered by team name in reverse alphabetical order</p>
		<ul>
			{% for reverse_team in reverse_teams %}
			<li>{{ reverse_team.location }} {{ reverse_team.team_name }}</li>
			{% endfor %}
		</ul>
		<br>
		<p>...every player with last name "Cooper"</p>
		<ul>
			{% for cooper in coopers %}
			<li>{{ cooper.first_name }} {{ cooper.last_name }}</li>
			{% endfor %}
		</ul>
		<br>
		<p>...every player with first name "Joshua"</p>
		<ul>
			{% for joshua in joshuas %}
			<li>{{ joshua.first_name }} {{ joshua.last_name }}</li>
			{% endfor %}
		</ul>
		<br>
		<p>...every player with last name "Cooper" EXCEPT those with "Joshua" as the first name</p>
		<ul>
			{% for cooper_no_joshua in coopers_no_joshua %}
			<li>{{ cooper_no_joshua.first_name }} {{ cooper_no_joshua.last_name }}</li>
			{% endfor %}
		</ul>
		<br>
		<p>...all players with first name "Alexander" OR first name "Wyatt"</p>
		<ul>
			{% for alexander_wyatt in alexander_wyatts %}
			<li>{{ alexander_wyatt.first_name }} {{ alexander_wyatt.last_name }}</li>
			{% endfor %}
		</ul>
		<br>

		<h1> This is beginning of Sports ORM 2 assignment </h1>
		<p>...all teams in the Atlantic Soccer Conference</p>
		<ul>
			{% for atlantic_team in atlantic_teams %}
			<li>{{ atlantic_team.location }} {{ atlantic_team.team_name }}</li>
			{% endfor %}
		</ul>
		<br>
		<p>...all (current) players on the Boston Penguins</p>
		<ul>
			{% for penguins_player in penguins_players %}
			<li>{{ penguins_player.first_name }} {{ penguins_player.last_name }}</li>
			{% endfor %}
		</ul>
		<br>
		<p>...all (current) players in the International Collegiate Baseball Conference</p>
		<ul>
			{% for inter_colleg_baseb_conf in inter_colleg_baseb_confs %}
			<li>{{ inter_colleg_baseb_conf.first_name }} {{ inter_colleg_baseb_conf.last_name }}</li>
			{% endfor %}
		</ul>
		<br>
		<p>...all (current) players in the American Conference of Amateur Football with last name "Lopez"</p>
		<ul>
			{% for lopez_player in lopez_players %}
			<li>{{ lopez_player.first_name }} {{ lopez_player.last_name }}</li>
			{% endfor %}
		</ul>
		<br>
		<p>...all football players</p>
		<ul>
			{% for football_player in football_players %}
			<li>{{ football_player.first_name }} {{ football_player.last_name }}</li>
			{% endfor %}
		</ul>
		<br>
		<p>...all teams with a (current) player named "Sophia"</p>
		<ul>
			{% for sophia_team in sophia_teams %}
			<li>{{ sophia_team.location }} {{ sophia_team.team_name }}</li>
			{% endfor %}
		</ul>
		<br>
		<p>...all leagues with a (current) player named "Sophia"</p>
		<ul>
			{% for sophia_league in sophia_leagues %}
			<li>{{ sophia_league.name }}</li>
			{% endfor %}
		</ul>
		<br>
		<p>...everyone with the last name "Flores" who DOESN'T (currently) play for the Washington Roughriders</p>
		<ul>
			{% for flores_player in flores_players %}
			<li>{{ flores_player.first_name }} {{ flores_player.last_name }}</li>
			{% endfor %}
		</ul>
		<br>
		<p>...all teams, past and present, that Samuel Evans has played with</p>
		<ul>
			{% for samuel_evans_team in samuel_evans_teams %}
			<li>{{ samuel_evans_team.location }} {{ samuel_evans_team.team_name }}</li>
			{% endfor %}
		</ul>
		<br>
		<p>...all players, past and present, with the Manitoba Tiger-Cats</p>
		<ul>
			{% for tiger_cats_player in tiger_cats_players %}
			<li>{{ tiger_cats_player.first_name }} {{ tiger_cats_player.last_name }}</li>
			{% endfor %}
		</ul>
		<br>
		<p>...all players who were formerly (but aren't currently) with the Wichita Vikings</p>
		<ul>
			{% for vikings_player in vikings_players %}
			<li>{{ vikings_player.first_name }} {{ vikings_player.last_name }}</li>
			{% endfor %}
		</ul>
		<br>
		<p>...every team that Jacob Gray played for before he joined the Oregon Colts</p>
		<ul>
			{% for jacob_gray_team in jacob_gray_teams %}
			<li>{{ jacob_gray_team.location }} {{ jacob_gray_team.team_name }}</li>
			{% endfor %}
		</ul>
		<br>
		<p>...everyone named "Joshua" who has ever played in the Atlantic Federation of Amateur Baseball Players</p>
		<ul>
			{% for amateur_baseball_joshua in amateur_baseball_joshuas %}
			<li>{{ amateur_baseball_joshua.first_name }} {{ amateur_baseball_joshua.last_name }}</li>
			{% endfor %}
		</ul>
		<br>
		<p>...all teams that have had 12 or more players, past and present. (HINT: Look up the Django annotate function.)</p>
		<ul>
			<li></li>
		</ul>
		<br>
		<p>...all players and count of teams played for, sorted by the number of teams they've played for</p>
		<ul>
			<li></li>
		</ul>
		<br>
	</body>
</html>