<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Books and Authors</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
</head>
<body>
    <div id="container">
        <div id="left-side">
            <h1> Add an Author </h1>
            <form action="/authors/create" method="POST">
                {% csrf_token %}
                <table>
                    <tr>
                        <td>First Name</td>
                        <td><input type="text" name="first_name"></td>
                    </tr>
                    <tr>
                        <td>Last Name</td>
                        <td><input type="text" name="last_name"></td>
                    </tr>
                    <tr>
                        <td>Notes</td>
                        <td><input id="description" type="text" name="notes"></td>
                    </tr>
                </table>
                <button>Add</button>
            </form>
        </div>

        <table id="right-side">
            <tr>
                <th>ID</th>
                <th>Name</th>
                <th>Action</th>
            </tr>
            {% for author in all_authors %}
            <tr>
                <td>{{ author.id }}</td>
                <td>{{ author.first_name }} {{ author.last_name }}</td>
                <td><a href="/authors/{{ author.id }}">View</a></td>
            </tr>
            {% endfor %}
        </table>

    </div>
</body>
</html>