<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Books and Authors</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
</head>
<body>
    <div id="container">
        <div id="left-side">
            <h1> Add a Book </h1>
            {% if messages %}
            <ul class="messages">    
                {% for message in messages %}    
                    <li {% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>    
                {% endfor %}
            </ul>
            {% endif %}
            <form action="/books/create" method="POST">
                {% csrf_token %}
                <table>
                    <tr>
                        <td>Title</td>
                        <td><input type="text" name="title"></td>
                    </tr>
                    <tr>
                        <td>Description</td>
                        <td><input id="description" type="text" name="description"></td>
                    </tr>
                </table>
                <button>Add</button>
            </form>
        </div>

        <table id="right-side">
            <tr>
                <th>ID</th>
                <th>Title</th>
                <th>Action</th>
            </tr>
            {% for book in all_books %}
            <tr>
                <td>{{ book.id }}</td>
                <td>{{ book.title }}</td>
                <td><a href="/books/{{ book.id }}">View</a></td>
            </tr>
            {% endfor %}
        </table>

    </div>
</body>
</html>