/* *{
    border:solid 1px black;
} */
#container{
    width: 500px;
}
h1, a{
    display: inline-block;
}
a{
    margin-left: 90px;
}

h3, input{
    display: inline-block;
}
#title{
    width: 400px;
}
#desc{
    width: 200px;
    height: 100px;
    vertical-align: top;
}