<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>The Wall</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'style.css' %}">
</head>
<body>
    <div id="container">
        <div id="header">
            <h2>CodingDojo Wall</h2>
            <p>Welcome {{ user.first_name }}</p>
            <a href="/logout">log off</a>
        </div>

        <div id="main-content">
            <form id="msg" action='/msg' method=POST>
                {% csrf_token %}
                <h3>Post a message</h3>
                <input type="text" name="new_message">
                <button>Post a message</button>
            </form>

            {% for msg in all_messages reversed %}
            <div id="content-block">
                <div class="msg-block">
                    <p style="font-weight: bold;">{{ msg.user.first_name }} {{ msg.user.last_name }} - {{ msg.created_at }}</p>
                    <p class="msg-content">{{ msg.message }}</p>
                </div>
                {% for cmt in msg.comments.all %}
                <div class="comment-block">
                    <p style="font-weight: bold;">{{ cmt.user.first_name }} {{ cmt.user.last_name }} - {{ cmt.created_at }}</p>
                    <p>{{ cmt.comment }}</p>
                </div>
                {% endfor %}
                <form id="post-comment" action='/cmt' method=POST>
                    {% csrf_token %}
                    <p>Post a comment</p>
                    <input type="text" name="new_comment">
                    <input type="hidden" name="msg_id" value={{msg.id}}>
                    <button>Post a message</button>
                </form>
            </div>
            {% endfor %}
        </div>
    </div>
</body>
</html>